@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TowerOfBones.Models.User
@{
	ViewData["Title"] =  Model.Username+ "'s Profile";
}
<div class="d-inline-block">
<H1>@Model.Username 's latest Acheivments</H1>
<div class="ach-big">
	<img class="ach-icn" src="~/images/@Model.Earned[0].Image" alt="Acheivment Icon" />
	<h3>@Model.Earned[0].Name</h3>
	<h5>@Model.Earned[0].Description</h5>
</div>

@for (int i = 1; i < 3; i++)
{
	<div class="ach-small">
		@if(Model.Earned.Count() < 1){
		<img class="ach-icn-small" src="~/images/@Model.Earned[i].Image" alt="Acheivment Icon" />
		<h4>@Model.Earned[i].Name</h4>
		<p>@Model.Earned[i].Description</p>
		}
		else{
			<img class="ach-icn-small" src="~/images/ach-locked.png" alt="Acheivment Icon" />
				<h4>@Model.Locked[i].Name</h4>
				<p>@Model.Locked[i].Description</p>
		}
		</div>

}</div>
<div class="d-inline-block">
	<img src="~/img/pfp/@Model.getPfpFile()" alt="@Model.Username Profile Picture" />
	<h4>@Model.Username</h4>
	@if(Model.IsActive)
	{
		<p class="text-success"><i>Now Playing</i></p>
	}
	else
	{
		<p class="text-danger"><i>Not Playing</i></p>
	}
	<p>@Model.Bio</p>
	<h5>Highest Level: @Model.HiLevel</h5>
	<h5>Highest Debt Reached: $@Model.HiDebt</h5>
</div>
